# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
target/

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Environment & secrets
.env
*.pem
*.key


# Competitive Programming Helper files
*.cph
*.cphcsrun
obj/
.cphcsrun.csproj
Program.cs
*_bin/
